:host {
    flex: 1;
    background-color: white;
    @media (max-width: 767px) {
        margin-bottom:64px;
    }
}
.users-list {
    clear:both;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

.user-profile {
    float:left;
    width: 40%;
    margin:20px 2%;
    padding:20px 2%;
    @include box-shadow (2px 2px 2px rgba(230,230,230,0.75));
    background: url('./../../../assets/images/coffee.png') center center no-repeat;
    text-align: center;
    /* 
        ##Device = Most of the Smartphones Mobiles, Low Resolution Tablets, Mobiles
    */
    @media (max-width: 767px) {
        width: 90%;
    }
    .user-profile-container {
        background-color: rgba(230,230,230,0.5);
        display: flex;
        flex-direction: row;
        .user1, .user2 {
            flex:50;
        }
    }
}