
<div [ngSwitch]="responseStatus">
    <div *ngSwitchCase="'start'">
        <div class="message center">
            <img src="./../../../assets/images/spinner.gif" alt="loading..."/> 
            <p>Loading, please wait...</p>
        </div>
    </div>
    <div *ngSwitchCase="'success'" class="users-list clearfix">
        <div class="user-profile" *ngFor="let user of response">
            <div class="user-profile-container">
                <div class="user1">
                    <h3>{{ user.name.first }} {{user.name.last}}</h3>
                    <p>{{ user.department }}</p>
                </div>
                <div class="user2">
                    <h3>{{ user._pair.name.first }} {{user._pair.name.last}}</h3>
                    <p>{{ user._pair.department }}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'empty'">
        <div class="message center">
            <img src="./../../../assets/images/unhappy-face.jpg" alt="unhappy face"/>
            <h1>Sorry, there are no more unique combinations!</h1>
            <h4>please click reset button to start again...</h4>
        </div>
    </div>
    <div *ngSwitchCase="'error'">
        <p class="center">Sorry, unable to load data</p>
    </div>
</div>

