:host {
    flex-shrink: 0;
    background-color: #1D5686;
    color:white;
    box-shadow: 0px 15px 10px -15px #111;  
    /* 
        ##Device = Most of the Smartphones Mobiles, Low Resolution Tablets, Mobiles
    */
    @media (max-width: 767px) {
        position:fixed;
        bottom:0;
        width: 100%;
        height: 64px;
    }

    button {
        border-radius:5px;
        margin:10px;
        background-color: #4787ed;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        outline: none;
        &:hover {
            background:#87aae2;            
        }
    }
}
