/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.center {
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.message {
    img { 
        display: block; 
        margin-left: auto;
        margin-right: auto;
    }
    margin-top: 20%;
    margin-bottom: 20%;
}
